.home {
	padding: 3rem;
}

.window {
	background-image: url(../../assets/imgs/browser-window.jpg);
	background-position: center center;
	background-size: cover;
    width: 34rem;
	height: 20rem;
}

.overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
}

.content {
	animation: Appear 1s ease-in;
}

/* todo webkit */
.red {
	background: linear-gradient(270deg, var(--clr-background), var(--clr-theme-1-80));
	animation: MoveBackground 15s ease infinite, Appear 0.3s ease-out;
	background-size: 400% 400%;
}

.blue {
	background: linear-gradient(270deg, var(--clr-background), var(--clr-theme-2-80));
	animation: MoveBackground 15s ease infinite, Appear 0.3s ease-out;
	background-size: 400% 400%;
}

@keyframes MoveBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes Appear {
    0%{opacity:0}
    100%{opacity:1}
}