.header {
  height: 100vh;
  padding: 0;
  background: #1a1b21;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 5rem;
}

.header nav {
  font-size: 100%;
}

.header nav a {
  display: block;
  padding: 1rem;
  width: 5rem;
  text-decoration: none;
  color: #004cff;
  will-change: background-color;
  transition: background-color 0.15s ease-in-out;
}

.header nav a:hover {
  background: #004cff18;
}

.header nav a:active,
.header nav a.active {
  background: #004cff3a;
}

.header nav a:visited {
  /* color: inherit; */
}
