.header {
  height: 100vh;
  padding: 0;
  background: var(--clr-background-medium);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 5rem;
}

.header nav {
  font-size: 100%;
}

.header nav a {
  display: block;
  padding: 1rem;
  width: 5rem;
  text-decoration: none;
  color: var(--clr-theme-2);
  will-change: background-color;
  transition: background-color 0.15s ease-out;
}

.header nav a:hover {
  background: #004cff11;
}

.header nav a:active,
.header nav a.active {
  background: #004cff2a;
}
