@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500,700&display=swap');

html, body {
	--clr-txt: white;
	--clr-background: #111215;
	--clr-background-medium: #1a1b21;
	--clr-theme-1-flash: #ff0000;
	--clr-theme-1: #da0000;
	--clr-theme-1-80: #cc0000cc;
	--clr-theme-1-40: #cc000065;
	--clr-theme-1-10: #cc00001c;
	--clr-theme-2: #004cff;
	--clr-theme-2-80: #004cff2c;
	--clr-theme-2-10: #004cff1c;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	font-size: 15px;
	background: var(--clr-background);
	color: var(--clr-txt);
}

* {
	box-sizing: border-box;
}

#app {
	height: 100vh;
	width: 100vw;
	display: flex;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
}

h1 {
	font-size: 2.4rem;
}


button {
	color: var(--clr-theme-1-flash);
	background: var(--clr-theme-1-10);
	border: solid 1px;
	border-color: var(--clr-theme-1);
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 0.06rem;
	font-size: 1.1rem;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
	margin: 0.5rem 0;
	outline: none;
	cursor: pointer;
}


button:hover {
	animation: blinker 1.4s ease-out infinite;
}

@keyframes blinker {
	0% {
		color: var(--clr-theme-1-flash);
		filter: drop-shadow(0px 0px 2px red);
	}
	20% {
		color: var(--clr-theme-1-40);
		filter: drop-shadow(0px 0px 2px red);
	}
	50% {
		color: var(--clr-theme-1-flash);
		filter: drop-shadow(0px 0px 2px red);
	}
}

body {
	font-size: 1rem;
}
